@import '../../variables';

button.technologiesButton {
  all: unset;
  cursor: pointer;

  position: relative;
  
  > a {
    all: unset;

    > img {
      height: 3rem;

      @media only screen and (min-width: $md) {
        height: 2.5rem;
      }

      @media only screen and (min-width: $xl) {
        height: 2rem;
      }
    }
  }

  > .tooltip {
    position: absolute;
    left: 90%;
    top: -120%;
    z-index: 2;
    
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;

    background-color: $primary-dark;
    color: $primary-light;
  }

  
}