<section id="about">
  @if ((language$ | async) === 'pl') {
  <h1 class="title">O Mnie</h1>
  } @else {
  <h1 class="title">About</h1>
  }
  <div class="text">
    @if ((language$ | async) === 'pl') {
    <p>
      Mam na imię Jerzy. Jestem studentem informatyki na czwartym roku w Szkole
      Głównej Gospodarstwa Wiejskiego w Warszawie. Pasjonuję się technologiami
      Webowymi i samodzielnie zgłębiam się w nie od ponad czterech lat.
    </p>
    <p>
      W wolnym czasie lubię gotować i jeździć na rowerze. Rozwijam się również w
      dziedzinie Machine Learningu, nad którym pracuję w ramach mojej pracy
      inżynierskiej.
    </p>
    <p>
      Planuję ukończyć studia w maju i obecnie poszukuję możliwości rozwoju jako
      Web Developer.
    </p>
    <p>Oto kilka technologii, których używam w moich projektach:</p>
    } @else {
    <p>
      My name is George, and I am a fourth-year computer science student at the
      Warsaw University of Life Sciences. Passionate about web development, I've
      been exploring this field on my own for over four years.
    </p>
    <p>
      In my free time, I enjoy cooking and cycling. Recently, I've embarked on a
      journey into the realm of Machine Learning, actively incorporating it into
      my thesis work.
    </p>
    <p>
      I am set to graduate in May and am currently seeking opportunities as a
      frontend developer.
    </p>
    <p>Here are some technologies I use in my projects:</p>
    }
    <div class="technologies">
      @for (techology of techologies; track $index) {
      <app-technologies-button
        [technology-name]="techology.name"
        [technology-img-src]="techology.src"
        [technology-website-url]="techology.url"
      ></app-technologies-button>
      }
    </div>
  </div>
</section>
