<section id="about">
  @if ((language$ | async) === 'pl') {
  <h1 class="title">O Mnie</h1>
  } @else {
  <h1 class="title">About</h1>
  }
  <div class="text">
    @if ((language$ | async) === 'pl') {
    <p>
      Mam na imię Jerzy. Jestem absolwentem Szkoły Głównej Gospodarstwa
      Wiejskiego w Warszawie, gdzie zdobyłem tytuł inżyniera. Pasjonuję się
      technologiami Webowymi i samodzielnie zgłębiam się w nie od ponad czterech
      lat. Dodatkowo kontynuuję rozwój w obszarze Machine Learningu, nad którym
      pracowałem w ramach mojej pracy inżynierskiej.
    </p>
    <p>W wolnym czasie lubię gotować i jeździć na rowerze.</p>
    <p>
      Jako absolwent, skupiam się teraz na poszukiwaniu możliwości rozwoju jako
      Web Developer.
    </p>
    <p>Oto kilka technologii, których używam w moich projektach:</p>
    } @else {
    <p>
      My name is Jerzy (George). I am a graduate of the Warsaw University of
      Life Sciences, where I earned a Bachelor's degree in computer science. I
      am passionate about web technologies and have been independently exploring
      them for over four years. Additionally, I continue to develop in the field
      of Machine Learning, which I worked on as part of my thesis.
    </p>
    <p>In my free time, I enjoy cooking and cycling.</p>
    <p>
      As a graduate, I am now focused on seeking opportunities for development
      as a Web Developer.
    </p>
    <p>Here are some technologies I use in my projects:</p>
    }
    <div class="technologies">
      @for (techology of techologies; track $index) {
      <app-technologies-button
        [technology-name]="techology.name"
        [technology-img-src]="techology.src"
        [technology-website-url]="techology.url"
      ></app-technologies-button>
      }
    </div>
  </div>
</section>
