<nav
  class="navbar"
  [@separateNavbar]="pageScrolled ? 'separate' : 'unseparate'"
>
  <div
    class="nav-menu"
    [@openClose]="!isMobile || hamburgerActive ? 'open' : 'closed'"
  >
    @if ((language$ | async) === "pl") {
    <a href="#">o mnie</a>
    <a href="#">projekty</a>
    <a href="#">kontakt</a>
    } @else {
    <a href="#">about</a>
    <a href="#">projects</a>
    <a href="#">contact</a>
    }
    <app-language-switcher></app-language-switcher>
  </div>

  <div class="hamburger" (click)="toggleMobileNavbar()">
    <span
      class="bar"
      [@bar1Animation]="hamburgerActive ? 'active' : 'inactive'"
    ></span>
    <span
      class="bar"
      [@bar2Animation]="hamburgerActive ? 'active' : 'inactive'"
    ></span>
    <span
      class="bar"
      [@bar3Animation]="hamburgerActive ? 'active' : 'inactive'"
    ></span>
  </div>
</nav>
