<nav
  class="navbar"
  [@separateNavbar]="pageScrolled ? 'separate' : 'unseparate'"
>
  <ul
    class="nav-menu"
    [@openClose]="!isMobile || hamburgerActive ? 'open' : 'closed'"
  >
    @if ((language$ | async) === "pl") {
    <li
      (click)="handleNavOptionClick()"
      (click)="scrollToSection('hero')"
      [ngClass]="{ scrolled: pageScrolled }"
    >
      strona główna
    </li>
    <li
      (click)="handleNavOptionClick()"
      (click)="scrollToSection('about')"
      [ngClass]="{ scrolled: pageScrolled }"
    >
      o mnie
    </li>
    <li
      (click)="handleNavOptionClick()"
      (click)="scrollToSection('projects')"
      [ngClass]="{ scrolled: pageScrolled }"
    >
      projekty
    </li>
    <li
      (click)="handleNavOptionClick()"
      (click)="scrollToSection('contact')"
      [ngClass]="{ scrolled: pageScrolled }"
    >
      kontakt
    </li>
    } @else {
    <li
      (click)="handleNavOptionClick()"
      (click)="scrollToSection('hero')"
      [ngClass]="{ scrolled: pageScrolled }"
    >
      home
    </li>
    <li
      (click)="handleNavOptionClick()"
      (click)="scrollToSection('about')"
      [ngClass]="{ scrolled: pageScrolled }"
    >
      about
    </li>
    <li
      (click)="handleNavOptionClick()"
      (click)="scrollToSection('projects')"
      [ngClass]="{ scrolled: pageScrolled }"
    >
      projects
    </li>
    <li
      (click)="handleNavOptionClick()"
      (click)="scrollToSection('contact')"
      [ngClass]="{ scrolled: pageScrolled }"
    >
      contact
    </li>
    }
    <div class="separator"></div>
    <app-language-switcher></app-language-switcher>
  </ul>
  <div class="hamburger" (click)="toggleMobileNavbar()">
    <span
      class="bar"
      [@bar1Animation]="hamburgerActive ? 'active' : 'inactive'"
    ></span>
    <span
      class="bar"
      [@bar2Animation]="hamburgerActive ? 'active' : 'inactive'"
    ></span>
    <span
      class="bar"
      [@bar3Animation]="hamburgerActive ? 'active' : 'inactive'"
    ></span>
  </div>
</nav>
