<nav
  class="navbar"
  [@separateNavbar]="pageScrolled ? 'separate' : 'unseparate'"
>
  <div
    class="nav-menu"
    [@openClose]="!isMobile || hamburgerActive ? 'open' : 'closed'"
  >
    @if ((language$ | async) === "pl") {
    <a href="#about">o mnie</a>
    <a href="#projects">projekty</a>
    <a href="#contact">kontakt</a>
    } @else {
    <a href="#about">about</a>
    <a href="#projects">projects</a>
    <a href="#contact">contact</a>
    }
    <div class="separator"></div>
    <app-language-switcher></app-language-switcher>
  </div>
  <div class="hamburger" (click)="toggleMobileNavbar()">
    <span
      class="bar"
      [@bar1Animation]="hamburgerActive ? 'active' : 'inactive'"
    ></span>
    <span
      class="bar"
      [@bar2Animation]="hamburgerActive ? 'active' : 'inactive'"
    ></span>
    <span
      class="bar"
      [@bar3Animation]="hamburgerActive ? 'active' : 'inactive'"
    ></span>
  </div>
</nav>
