<section id="projects">
  @if ((language$ | async) === 'pl') {
  <h1 class="title">Projekty</h1>
  } @else {
  <h1 class="title">Projects</h1>
  }
  <app-project
    name="Reminders"
    preview-img-src="../../assets/project-previews/reminders.png"
    desc-pl="To jest druga wersja mojej aplikacji do zarządzania zadaniami, która wykorzystuje zupełnie inny stos technologiczny i architekturę. Inspirowana aplikacją Reminders firmy Apple, upraszcza zarządzanie zadaniami, pozwalając użytkownikom tworzyć, zarządzać i organizować przypomnienia, wszystkie bezpiecznie przechowywane na serwerze dla wygodnego dostępu z dowolnego urządzenia. Aplikacja wykorzystuje Firebase do uwierzytelniania użytkowników i przechowywania danych, RxJS do reaktywnego programowania oraz Angular Material do komponentów interfejsu użytkownika."
    desc-en="This is the second version of my task management application, featuring a completely different tech stack and architecture. Inspired by Apple's Reminders, it simplifies task management by allowing users to create, manage, and organize reminders, all securely stored on the server for convenient access across all devices. The app uses Firebase for user authentication and data storage, RxJS for reactive programming, and Angular Material for UI components."
    code-url="https://github.com/JerzyMarczewski/reminders"
    demo-url="https://reminders-4f421.web.app/"
    [technology-names]="[
      'Angular',
      'RxJS',
      'Firebase',
      'Angular Material',
      'TypeScript',
      'HTML',
      'Sass'
    ]"
  ></app-project>
  <app-project
    name="Portfolio"
    preview-img-src="../../assets/project-previews/portfolio.png"
    desc-pl="Aplikacja webowa zaprojektowana w programie Figma. Stanowi ona prezentację moich umiejętności, zainteresowań i projektów. Obsługując zarówno języki polski, jak i angielski, zapewnia dostępność dla szerszej publiczności. W celu poprawy UX zaimplementowałem moduł animacji Angulara. Dodatkowo, wykorzystuję NgRx do ułatwienia płynnej komunikacji między komponentami a stanem aplikacji. Aplikacja przeszła testy przy użyciu Jasmine z Karma, aby zagwarantować funkcjonalność i niezawodność."
    desc-en="A web application designed in Figma. It serves as a showcase of my skills, interests, and projects. Supporting both Polish and English languages, it ensures accessibility for a broader audience. To enhance the user experience, I implemented Angular's animation module. Additionally, I utilize NgRx to facilitate smoother communication between components and the application state. The application underwent testing using Jasmine with Karma to ensure functionality and reliability."
    code-url="https://github.com/JerzyMarczewski/portfolio-angular"
    demp-url="https://www.jerzymarczewski.pl/"
    [technology-names]="[
      'Angular',
      'NgRx',
      'Jasmine',
      'Karma',
      'Sass',
      'TypeScript',
      'HTML',
      'Figma'
    ]"
  ></app-project>
  <app-project
    name="ASCII Filter"
    preview-img-src="../../assets/project-previews/ascii-filter.png"
    desc-pl="Dzięki zajęciom z Grafiki Komputerowej podczas studiów, zainteresowałem się tematem przetwarzania obrazów. Po ukończeniu zajęć, chciałem przetestować metody przetwarzania obrazów w JavaScript, używając obrazu z kamery na żywo. Stworzyłem więc ten projekt, nazwany ASCII-filter, ponieważ pierwotnym pomysłem było przekształcenie obrazu z kamery w dynamiczną siatkę znaków ASCII. Później dodałem więcej filtrów i różnych parametrów, które użytkownicy mogą dynamicznie dostosować, takie jak parametr gamma czy rozmiar kwadratu (rozmiar piksela). Wdrożyłem wszystkie techniki filtracji samodzielnie i zaprojektowałem interfejs użytkownika w Figma. Dodatkowo, wprowadziłem bardziej zaawansowane animacje do aplikacji, gdyż był to temat, który chciałem zgłębić od jakiegoś czasu."
    desc-en="Thanks to the Computer Graphics courses during my studies, I became interested in the topic of image processing. After completing the courses, I wanted to test image processing methods in JavaScript using live camera input. So, I created this project, named ASCII-filter, as the initial idea was to convert the camera image into a dynamic ASCII character grid. I later added more filters and various parameters that users can dynamically adjust, such as the gamma parameter or square size (pixel size). I implemented all filtration techniques myself and designed the user interface in Figma. Additionally, I incorporated more advanced animations into the application, as it was also a topic I've been wanting to delve into for a while."
    code-url="https://github.com/JerzyMarczewski/ASCII-filter"
    demo-url="https://ascii-filter.onrender.com/"
    [technology-names]="[
      'React',
      'Redux',
      'TypeScript',
      'HTML',
      'CSS',
      'Figma'
    ]"
  ></app-project>
  <app-project
    name="REMINDERS"
    preview-img-src="../../assets/project-previews/mern-reminders.png"
    desc-pl="Aplikacja służy za system do zarządzania zadaniami, który czerpie inspirację z aplikacji Reminders firmy Apple. Oferuje ona użytkownikom płynne i responsywne doświadczenie. Interfejs użytkownika został zaprojektowany w programie Figma. Aplikacja umożliwia użytkownikom łatwe tworzenie, edytowanie i usuwanie zadań oraz list. Dodając personalny akcent, użytkownicy mogą dostosowywać kolory i ikony list, aby dostosować swoje doświadczenie zarządzania zadaniami. Aplikacja posiada system uwierzytelniania użytkownika, zapewniający bezpieczny dostęp poprzez proces logowania i rejestracji, z kompletnym haszowaniem haseł dla zwiększenia bezpieczeństwa. Dane użytkowników są bezpiecznie przechowywane na serwerze, a aplikacja korzysta z RESTful API , ułatwiając płynną komunikację i interakcję między klientem a serwerem."
    desc-en="The Reminders Web Application is a task management system that draws inspiration from Apple's Reminders application, offering users a seamless and responsive experience. The UI was designed in Figma. This application allows users to effortlessly create, edit, and delete tasks and lists. Adding a personalized touch, users can customize list colors and icons to tailor their task management experience. The application boasts a user authentication system, ensuring secure access through a user login and registration process, complete with password hashing for enhanced security. With user data securely stored on the server, the Reminders Web Application employs a RESTful API, facilitating smooth communication and interaction between the client and server."
    code-url="https://github.com/JerzyMarczewski/MERN-Reminders"
    [technology-names]="[
      'React',
      'Node.js',
      'Express',
      'MongoDB',
      'Mongoose',
      'JavaScript',
      'HTML',
      'CSS',
      'Figma'
    ]"
  ></app-project>
  <app-project
    name="Music Streamer"
    preview-img-src="../../assets/project-previews/music-streamer.png"
    desc-pl="Projekt, który stworzyłem wspólnie z kolegami ze studiów. Jest to aplikacja webowa służąca do odtwarzania utworów umieszczonych na serwerze i tworzenia playlist, podobnie jak w serwisie Spotify. Aplikacja wykorzystuje system logowania i zapisywania utworów, co pozwala na korzystanie z niej na różnych urządzeniach bez utraty danych."
    desc-en="The project that I created together with my colleagues from studies is a web application for playing songs stored on the server and creating playlists, similar to Spotify. The application utilizes a login system and song saving functionality, allowing users to access it from different devices without losing data."
    code-url="https://github.com/wojtek0123/music-streamer"
    [technology-names]="[
      'React',
      'Redux',
      'Supabase',
      'TypeScript',
      'HTML',
      'CSS'
    ]"
  ></app-project>
  <app-project
    name="Movie Searcher"
    preview-img-src="../../assets/project-previews/movie-searcher.png"
    desc-pl="Projekt, który stworzyłem wspólnie z kolegami ze studiów. Jest to aplikacja webowa służąca do wyszukiwania filmów i danych z nimi związanymi, wykorzystując TMDB Api. Aplikacja wykorzystuje system logowania i zapisywania danych, co pozwala na korzystanie z niej na różnych urządzeniach bez utraty danych."
    desc-en="The project that I created together with my colleagues from studies is a web application for searching movies and related data using the TMDB API. The application utilizes a login system and data saving functionality, allowing users to access it from different devices without losing data"
    code-url="https://github.com/wojtek0123/movie-search-react"
    [technology-names]="['React', 'Supabase', 'TypeScript', 'HTML', 'CSS']"
  ></app-project>
  <app-project
    name="Viaggio"
    preview-img-src="../../assets/project-previews/viaggio.png"
    desc-pl="Responsywna strona główna starannie stworzona dla biura podróży, z myślą o estetyce i łatwości użytkowania, zaprojektowana przy użyciu Figma."
    desc-en="A responsive landing page meticulously crafted for a travel agency, thoughtfully designed using Figma for a visually stunning and user-friendly experience."
    code-url="https://github.com/JerzyMarczewski/react-travel-agency"
    demo-url="https://pwi-pd4.onrender.com/"
    [technology-names]="['React', 'JavaScript', 'HTML', 'CSS', 'Figma']"
  ></app-project>
</section>
