@import '../../variables';

$wave-width: 1440px;
$wave-height: 320px;
// $wave-width: 2132.9px;
// $wave-height: 59.45px;

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0;
  }
}

#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin-top: 6rem;
  padding: 5rem 0;
  width: 100%;
    // background-color: #72727E;
  background-color: $primary-cool-gray;
  color: $primary-light;

  > .contacts {
    display: flex;
    gap: 0.5rem;

    img {
      color: $primary-light;
      width: 2rem;
      height: auto;
    }
  }
  

  > .menu {
    display: flex;
    gap: 1rem;

    > li {
      all: unset;
      cursor: pointer;
      text-transform: capitalize;
      font-weight: 100;
    }
  } 

  > p {
    font-size: 0.6rem;
  }
}