@import '../../variables';

#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin-top: 6rem;
  padding: 5rem 0;
  width: 100%;
  background-color: $primary-cool-gray;
  color: $primary-light;

  > .contacts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    

    a {
      all: unset;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;
      cursor: pointer;


      img {
        color: $primary-light;
        width: 2rem;
        height: auto;
      }

      p {margin: 0;}

      &.email {
        cursor: copy;
      }
    }
  }
  

  > .menu {
    display: flex;
    gap: 1rem;

    > li {
      all: unset;
      cursor: pointer;
      text-transform: capitalize;
      font-weight: 100;
    }
  } 

  > p {
    font-size: 0.6rem;
  }
}