<div class="project">
  <div class="content">
    <aside class="overview">
      <h3 class="title">{{ name }}</h3>

      @if ((language$ | async) === 'pl') {
      <p>{{ descPL }}</p>
      <p>Wykorzystane technologie:</p>
      } @else {
      <p>{{ descEN }}</p>
      <p>Technologies used:</p>
      }
      <div class="technologies">
        @for (technology of technologies; track $index) {
        <app-technologies-button
          [technology-name]="technology.name"
          [technology-img-src]="technology.src"
          [technology-website-url]="technology.url"
        ></app-technologies-button>
        }
      </div>

      <div class="actions">
        @if (codeUrl) {
        <a [href]="codeUrl">
          <button>
            {{ (language$ | async) === "pl" ? "kod" : "code" }}
          </button>
        </a>
        } @if (demoUrl) {
        <a [href]="demoUrl">
          <button>demo</button>
        </a>
        }
      </div>
    </aside>
    <img [src]="previewImgSrc" [alt]="this.name + ' preview'" />
  </div>
</div>
