<div class="languageSwitcher" (click)="handleToggleLanguage()">
  <div
    class="knob"
    [ngClass]="{
      pl: (language$ | async) === 'pl',
      en: (language$ | async) === 'en'
    }"
    [@toggleKnobAnimation]="(language$ | async) === 'pl' ? 'pl' : 'en'"
  ></div>
  <h5
    class="label en"
    [@labelAnimation]="(language$ | async) === 'en' ? 'shown' : 'hidden'"
  >
    en
  </h5>
  <h5
    class="label pl"
    [@labelAnimation]="(language$ | async) === 'pl' ? 'shown' : 'hidden'"
  >
    pl
  </h5>
</div>
